In [13]:
def hello(name,sex):
    sex_name={1:"男的",2:"女的"}
    print("泥嚎,我是{0},我叫{1}".format(name,sex_name.get(sex)))
    

hello("mrking",2)

泥嚎,我是mrking,我叫女的

In [17]:
def a(*args):
    print("我叫{0}，我今年{1}".format(*args))
a(1,2)

我叫1，我今年2

In [1]:
print("a")

a

In [10]:
class a():
    name=2
    def aa(self):
        self.name=1
        print(self.name)
    def bb(s):
        
        print(s.name)
mm=a()
mm.aa()
mm.bb()
print(id(mm.aa()))
print(id(mm.bb()))

1
1
1
1604953232
1
1604953232

In [1]:
class Person():
    name="mrking"
    _age=13
    
p=Person()

print(p.name)
print(p._age)

mrking
13

In [9]:
class Test1:
    def f1(self):
        self.name="张三"
        self.__age=20
        print(self.name)
        print(self.__age)
        
class Test2(Test1):
    def f(self):
        print(self.name)
        print(self.__age)
        
inst1=Test1()
inst1.f1()

Test2.f(inst1)

print(Test1.__dict__)
# 此处更改只是临时改变
inst1._Test1__age=21
print(inst1._Test1__age)
inst1.f1()

张三
20
张三

AttributeError: 'Test1' object has no attribute '_Test2__age'

In [4]:
import collections

s = [('yellow',1),('blue',2),('yellow',3),('blue',4),('red',1)]

d = collections.defaultdict(list)

for k,v in s:
    print(k,v)
    d[k].append(v)
print(d)
print(d.keys())
print(list(d.items()))

yellow 1
blue 2
yellow 3
blue 4
red 1
defaultdict(<class 'list'>, {'yellow': [1, 3], 'blue': [2, 4], 'red': [1]})
dict_keys(['yellow', 'blue', 'red'])
[('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])]

In [7]:
import collections

s = [('yellow',1),('blue',2),('yellow',3),('blue',4),('red',1)]

# defaultdict
d = collections.defaultdict(list)

for k, v in s:
    d[k].append(v)
    
# use dict and setdefault

g = {}

for k ,v in s:
    g.setdefault(k,[]).append(v)
    
e = {}
for k,v in s :
    e[k] = v

print(d.items())

print(g.items())

print(e.items())

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])
dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])
dict_items([('yellow', 3), ('blue', 4), ('red', 1)])

In [9]:
import collections

s = 'mississippi'
d = collections.defaultdict(int)
for k in s:
    d[k] +=1
    
list(d.items())

[('m', 1), ('i', 4), ('s', 4), ('p', 2)]

In [11]:
import pandas as pd

unames = ['user_id','gender','age','occupation','zip']

users = pd.read_table('C:/Users/meridian/Desktop/ml-1m/users.dat',sep = '::',header = None,names = unames)

rnames = ['user_id','movie_id','rating','timestamp']

ratings = pd.read_table('C:/Users/meridian/Desktop/ml-1m/ratings.dat',sep = '::',header = None,names = rnames)

mnames = ['movie_id','title','genres']

movies = pd.read_table('C:/Users/meridian/Desktop/ml-1m/movies.dat',sep = '::',header = None,names = mnames)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  del sys.path[0]

In [13]:
users[:10]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455
5        6      F   50           9  55117
6        7      M   35           1  06810
7        8      M   25          12  11413
8        9      M   25          17  61614
9       10      F   35           1  95370

In [14]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [16]:
ratings

print(type(ratings))

<class 'pandas.core.frame.DataFrame'>

In [17]:
data = pd.merge(pd.merge(ratings,users),movies)

In [18]:
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [19]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [21]:
data.ix[0]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [22]:
data.loc[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [23]:
data.iloc[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [29]:
mean_ratings = data.pivot_table('rating',index='title',columns='gender',aggfunc='mean')
# 按性别计算每部电影的平均得分，计算的数据为rating，性别为列，电影名称为行
# 按性别进行分组，统计每部电影的平均分
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [32]:
# 按电影名进行分组，统计每部电影有多少人评价

ratings_by_title = data.groupby('title').size()

ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [33]:
ratings_by_title.count()

3706

In [36]:
ratings_by_title1 = data.groupby('title')
ratings_by_title1.count()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,genres
title,,,,,,,,,
"$1,000,000 Duck (1971)",37,37,37,37,37,37,37,37,37
'Night Mother (1986),70,70,70,70,70,70,70,70,70
'Til There Was You (1997),52,52,52,52,52,52,52,52,52
"'burbs, The (1989)",303,303,303,303,303,303,303,303,303
...And Justice for All (1979),199,199,199,199,199,199,199,199,199
1-900 (1994),2,2,2,2,2,2,2,2,2
10 Things I Hate About You (1999),700,700,700,700,700,700,700,700,700
101 Dalmatians (1961),565,565,565,565,565,565,565,565,565
101 Dalmatians (1996),364,364,364,364,364,364,364,364,364
12 Angry Men (1957),616,616,616,616,616,616,616,616,616
"13th Warrior, The (1999)",750,750,750,750,750,750,750,750,750
187 (1997),55,55,55,55,55,55,55,55,55
2 Days in the Valley (1996),286,286,286,286,286,286,286,286,286
20 Dates (1998),139,139,139,139,139,139,139,139,139
"20,000 Leagues Under the Sea (1954)",575,575,575,575,575,575,575,575,575
200 Cigarettes (1999),181,181,181,181,181,181,181,181,181
2001: A Space Odyssey (1968),1716,1716,1716,1716,1716,1716,1716,1716,1716
2010 (1984),470,470,470,470,470,470,470,470,470
24 7: Twenty Four Seven (1997),5,5,5,5,5,5,5,5,5
24-hour Woman (1998),9,9,9,9,9,9,9,9,9
28 Days (2000),505,505,505,505,505,505,505,505,505
3 Ninjas: High Noon On Mega Mountain (1998),47,47,47,47,47,47,47,47,47
3 Strikes (2000),4,4,4,4,4,4,4,4,4
"301, 302 (1995)",9,9,9,9,9,9,9,9,9
"39 Steps, The (1935)",253,253,253,253,253,253,253,253,253
"400 Blows, The (Les Quatre cents coups) (1959)",187,187,187,187,187,187,187,187,187
42 Up (1998),88,88,88,88,88,88,88,88,88
52 Pick-Up (1986),140,140,140,140,140,140,140,140,140
54 (1998),259,259,259,259,259,259,259,259,259
"7th Voyage of Sinbad, The (1958)",258,258,258,258,258,258,258,258,258
...,...,...,...,...,...,...,...,...,...
Wrongfully Accused (1998),123,123,123,123,123,123,123,123,123
Wyatt Earp (1994),270,270,270,270,270,270,270,270,270
"X-Files: Fight the Future, The (1998)",996,996,996,996,996,996,996,996,996
X-Men (2000),1511,1511,1511,1511,1511,1511,1511,1511,1511
X: The Unknown (1956),12,12,12,12,12,12,12,12,12
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998),69,69,69,69,69,69,69,69,69
Yankee Zulu (1994),2,2,2,2,2,2,2,2,2
"Yards, The (1999)",77,77,77,77,77,77,77,77,77
"Year My Voice Broke, The (1987)",27,27,27,27,27,27,27,27,27
Year of Living Dangerously (1982),391,391,391,391,391,391,391,391,391
Year of the Horse (1997),4,4,4,4,4,4,4,4,4
Yellow Submarine (1968),399,399,399,399,399,399,399,399,399
Yojimbo (1961),215,215,215,215,215,215,215,215,215
You Can't Take It With You (1938),77,77,77,77,77,77,77,77,77
You So Crazy (1994),13,13,13,13,13,13,13,13,13
You've Got Mail (1998),838,838,838,838,838,838,838,838,838
Young Doctors in Love (1982),79,79,79,79,79,79,79,79,79
Young Frankenstein (1974),1193,1193,1193,1193,1193,1193,1193,1193,1193
Young Guns (1988),562,562,562,562,562,562,562,562,562
Young Guns II (1990),369,369,369,369,369,369,369,369,369
"Young Poisoner's Handbook, The (1995)",79,79,79,79,79,79,79,79,79
Young Sherlock Holmes (1985),379,379,379,379,379,379,379,379,379
Young and Innocent (1937),10,10,10,10,10,10,10,10,10
Your Friends and Neighbors (1998),109,109,109,109,109,109,109,109,109
Zachariah (1971),2,2,2,2,2,2,2,2,2
"Zed & Two Noughts, A (1985)",29,29,29,29,29,29,29,29,29
Zero Effect (1998),301,301,301,301,301,301,301,301,301
Zero Kelvin (Kj鎟lighetens kj鴗ere) (1995),2,2,2,2,2,2,2,2,2
Zeus and Roxanne (1997),23,23,23,23,23,23,23,23,23
eXistenZ (1999),410,410,410,410,410,410,410,410,410

In [39]:
active_titles = ratings_by_title.index[ratings_by_title>=250]

active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [42]:

for i in active_titles:
    print(i)

'burbs, The (1989)
10 Things I Hate About You (1999)
101 Dalmatians (1961)
101 Dalmatians (1996)
12 Angry Men (1957)
13th Warrior, The (1999)
2 Days in the Valley (1996)
20,000 Leagues Under the Sea (1954)
2001: A Space Odyssey (1968)
2010 (1984)
28 Days (2000)
39 Steps, The (1935)
54 (1998)
7th Voyage of Sinbad, The (1958)
8MM (1999)
About Last Night... (1986)
Absent Minded Professor, The (1961)
Absolute Power (1997)
Abyss, The (1989)
Ace Ventura: Pet Detective (1994)
Ace Ventura: When Nature Calls (1995)
Addams Family Values (1993)
Addams Family, The (1991)
Adventures in Babysitting (1987)
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)
Adventures of Priscilla, Queen of the Desert, The (1994)
Adventures of Robin Hood, The (1938)
African Queen, The (1951)
Age of Innocence, The (1993)
Agnes of God (1985)
Air America (1990)
Air Force One (1997)
Airplane II: The Sequel (1982)
Airplane! (1980)
Akira (1988)
Aladdin (1992)
Alice in Wonderland (1951)
Alien (1979)
Alien Nation (1988)
Alien: Resurrection (1997)
Aliens (1986)
Alien� (1992)
Alive (1993)
All About Eve (1950)
All About My Mother (Todo Sobre Mi Madre) (1999)
All Quiet on the Western Front (1930)
All That Jazz (1979)
Almost Famous (2000)
Amadeus (1984)
American Beauty (1999)
American Gigolo (1980)
American Graffiti (1973)
American History X (1998)
American Movie (1999)
American Pie (1999)
American President, The (1995)
American Psycho (2000)
American Tail, An (1986)
American Werewolf in London, An (1981)
American Werewolf in Paris, An (1997)
American in Paris, An (1951)
Amistad (1997)
Amityville Horror, The (1979)
Anaconda (1997)
Analyze This (1999)
Anastasia (1997)
And Now for Something Completely Different (1971)
Angel Heart (1987)
Animal House (1978)
Anna and the King (1999)
Annie Hall (1977)
Antz (1998)
Any Given Sunday (1999)
Apartment, The (1960)
Apocalypse Now (1979)
Apollo 13 (1995)
Apostle, The (1997)
Arachnophobia (1990)
Aristocats, The (1970)
Arlington Road (1999)
Armageddon (1998)
Army of Darkness (1993)
Around the World in 80 Days (1956)
Arrival, The (1996)
Arsenic and Old Lace (1944)
Arthur (1981)
As Good As It Gets (1997)
Astronaut's Wife, The (1999)
Atlantic City (1980)
Auntie Mame (1958)
Austin Powers: International Man of Mystery (1997)
Austin Powers: The Spy Who Shagged Me (1999)
Avengers, The (1998)
Awakenings (1990)
Babe (1995)
Babe: Pig in the City (1998)
Bachelor Party (1984)
Bachelor, The (1999)
Back to School (1986)
Back to the Future (1985)
Back to the Future Part II (1989)
Back to the Future Part III (1990)
Backdraft (1991)
Bad Boys (1995)
Bamba, La (1987)
Bambi (1942)
Bananas (1971)
Barb Wire (1996)
Barbarella (1968)
Basic Instinct (1992)
Batman & Robin (1997)
Batman (1989)
Batman Forever (1995)
Batman Returns (1992)
Battle for the Planet of the Apes (1973)
Battlefield Earth (2000)
Beach, The (2000)
Beauty and the Beast (1991)
Beavis and Butt-head Do America (1996)
Bedknobs and Broomsticks (1971)
Beetlejuice (1988)
Being John Malkovich (1999)
Being There (1979)
Ben-Hur (1959)
Beneath the Planet of the Apes (1970)
Benny & Joon (1993)
Best in Show (2000)
Better Off Dead... (1985)
Beverly Hills Cop III (1994)
Bicentennial Man (1999)
Bicycle Thief, The (Ladri di biciclette) (1948)
Big (1988)
Big Chill, The (1983)
Big Daddy (1999)
Big Kahuna, The (2000)
Big Lebowski, The (1998)
Big Night (1996)
Big Sleep, The (1946)
Big Trouble in Little China (1986)
Billy Madison (1995)
Bird on a Wire (1990)
Birdcage, The (1996)
Birds, The (1963)
Black Hole, The (1979)
Blade (1998)
Blade Runner (1982)
Blair Witch Project, The (1999)
Blast from the Past (1999)
Blazing Saddles (1974)
Blob, The (1958)
Blood Simple (1984)
Blue Lagoon, The (1980)
Blue Velvet (1986)
Blues Brothers, The (1980)
Boat, The (Das Boot) (1981)
Bob Roberts (1992)
Body Heat (1981)
Body Snatchers (1993)
Bodyguard, The (1992)
Boiler Room (2000)
Bone Collector, The (1999)
Bonnie and Clyde (1967)
Boogie Nights (1997)
Bottle Rocket (1996)
Bound (1996)
Bowfinger (1999)
Boys Don't Cry (1999)
Brady Bunch Movie, The (1995)
Bram Stoker's Dracula (1992)
Braveheart (1995)
Brazil (1985)
Breakdown (1997)
Breaker Morant (1980)
Breakfast Club, The (1985)
Breakfast at Tiffany's (1961)
Breaking Away (1979)
Breaking the Waves (1996)
Bridge on the River Kwai, The (1957)
Bridges of Madison County, The (1995)
Bringing Out the Dead (1999)
Bringing Up Baby (1938)
Broadcast News (1987)
Broken Arrow (1996)
Bronx Tale, A (1993)
Brothers McMullen, The (1995)
Buffalo 66 (1998)
Buffy the Vampire Slayer (1992)
Bug's Life, A (1998)
Bull Durham (1988)
Bullets Over Broadway (1994)
Bulworth (1998)
Butch Cassidy and the Sundance Kid (1969)
Cabaret (1972)
Cable Guy, The (1996)
Caddyshack (1980)
Can't Hardly Wait (1998)
Candyman (1992)
Cape Fear (1962)
Cape Fear (1991)
Carlito's Way (1993)
Carrie (1976)
Casablanca (1942)
Casino (1995)
Casper (1995)
Cat Ballou (1965)
Cat on a Hot Tin Roof (1958)
Cell, The (2000)
Charade (1963)
Chariots of Fire (1981)
Charlotte's Web (1973)
Chasing Amy (1997)
Chicken Run (2000)
Children of a Lesser God (1986)
Chinatown (1974)
Christine (1983)
Christmas Story, A (1983)
Christmas Vacation (1989)
Cider House Rules, The (1999)
Cinderella (1950)
Cinema Paradiso (1988)
Circle of Friends (1995)
Citizen Kane (1941)
City Lights (1931)
City Slickers II: The Legend of Curly's Gold (1994)
City of Angels (1998)
City of Lost Children, The (1995)
Civil Action, A (1998)
Clear and Present Danger (1994)
Clerks (1994)
Client, The (1994)
Cliffhanger (1993)
Clockwork Orange, A (1971)
Close Encounters of the Third Kind (1977)
Close Shave, A (1995)
Clue (1985)
Clueless (1995)
Cocoon (1985)
Cocoon: The Return (1988)
Color Purple, The (1985)
Color of Money, The (1986)
Commitments, The (1991)
Con Air (1997)
Conan the Barbarian (1982)
Coneheads (1993)
Congo (1995)
Conquest of the Planet of the Apes (1972)
Conspiracy Theory (1997)
Contact (1997)
Contender, The (2000)
Conversation, The (1974)
Cool Hand Luke (1967)
Cool Runnings (1993)
Cop Land (1997)
Copycat (1995)
Corrina, Corrina (1994)
Courage Under Fire (1996)
Cradle Will Rock, The (1999)
Craft, The (1996)
Creature Comforts (1990)
Creepshow (1982)
Crimes and Misdemeanors (1989)
Crimson Tide (1995)
Crocodile Dundee (1986)
Crocodile Dundee II (1988)
Crow, The (1994)
Cruel Intentions (1999)
Crumb (1994)
Crying Game, The (1992)
Cyrano de Bergerac (1990)
Dances with Wolves (1990)
Dangerous Liaisons (1988)
Dante's Peak (1997)
Dark City (1998)
Dark Crystal, The (1982)
Dave (1993)
Day the Earth Stood Still, The (1951)
Days of Thunder (1990)
Dazed and Confused (1993)
Dead Again (1991)
Dead Calm (1989)
Dead Man Walking (1995)
Dead Men Don't Wear Plaid (1982)
Dead Poets Society (1989)
Dead Zone, The (1983)
Death Becomes Her (1992)
Deconstructing Harry (1997)
Deep Blue Sea (1999)
Deep Impact (1998)
Deer Hunter, The (1978)
Defending Your Life (1991)
Delicatessen (1991)
Deliverance (1972)
Demolition Man (1993)
Desperado (1995)
Desperately Seeking Susan (1985)
Deuce Bigalow: Male Gigolo (1999)
Devil in a Blue Dress (1995)
Devil's Advocate, The (1997)
Devil's Own, The (1997)
Dial M for Murder (1954)
Dick (1999)
Dick Tracy (1990)
Die Hard (1988)
Die Hard 2 (1990)
Die Hard: With a Vengeance (1995)
Diner (1982)
Dinosaur (2000)
Dirty Dancing (1987)
Dirty Dozen, The (1967)
Disclosure (1994)
Diva (1981)
Do the Right Thing (1989)
Doctor Dolittle (1998)
Doctor Zhivago (1965)
Dog Day Afternoon (1975)
Dogma (1999)
Dolores Claiborne (1994)
Don Juan DeMarco (1995)
Donnie Brasco (1997)
Doors, The (1991)
Double Indemnity (1944)
Double Jeopardy (1999)
Dr. No (1962)
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
Dragonheart (1996)
Dreamscape (1984)
Driving Miss Daisy (1989)
Drop Dead Fred (1991)
Drop Dead Gorgeous (1999)
Drugstore Cowboy (1989)
Duck Soup (1933)
Dumb & Dumber (1994)
Dumbo (1941)
Dune (1984)
E.T. the Extra-Terrestrial (1982)
EDtv (1999)
Easy Rider (1969)
Eat Drink Man Woman (1994)
Ed Wood (1994)
Edward Scissorhands (1990)
Election (1999)
Elephant Man, The (1980)
Elizabeth (1998)
Emma (1996)
Empire Records (1995)
Encino Man (1992)
End of Days (1999)
Enemy of the State (1998)
English Patient, The (1996)
Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)
Entrapment (1999)
Eraser (1996)
Erin Brockovich (2000)
Escape from L.A. (1996)
Escape from New York (1981)
Escape from the Planet of the Apes (1971)
Escape to Witch Mountain (1975)
European Vacation (1985)
Event Horizon (1997)
Ever After: A Cinderella Story (1998)
Everyone Says I Love You (1996)
Everything You Always Wanted to Know About Sex (1972)
Evil Dead II (Dead By Dawn) (1987)
Evita (1996)
Excalibur (1981)
Executive Decision (1996)
Exorcist, The (1973)
Eye of the Beholder (1999)
Eyes Wide Shut (1999)
F/X (1986)
Fabulous Baker Boys, The (1989)
Face/Off (1997)
Faculty, The (1998)
Falcon and the Snowman, The (1984)
Fallen (1998)
Falling Down (1993)
Fantasia (1940)
Fantasia 2000 (1999)
Fantastic Voyage (1966)
Far and Away (1992)
Farewell My Concubine (1993)
Fargo (1996)
Fast Times at Ridgemont High (1982)
Fatal Attraction (1987)
Father of the Bride (1950)
Father of the Bride Part II (1995)
Fear and Loathing in Las Vegas (1998)
Ferris Bueller's Day Off (1986)
Few Good Men, A (1992)
Field of Dreams (1989)
Fifth Element, The (1997)
Fight Club (1999)
Final Destination (2000)
Firestarter (1984)
Firm, The (1993)
First Blood (1982)
First Knight (1995)
First Wives Club, The (1996)
Fish Called Wanda, A (1988)
Fisher King, The (1991)
Fistful of Dollars, A (1964)
Five Easy Pieces (1970)
Flamingo Kid, The (1984)
Flashdance (1983)
Flatliners (1990)
Fletch (1985)
Flight of the Navigator (1986)
Flintstones, The (1994)
Flirting With Disaster (1996)
Flubber (1997)
Fly II, The (1989)
Fly, The (1958)
Fly, The (1986)
Fools Rush In (1997)
Footloose (1984)
For Love of the Game (1999)
For Your Eyes Only (1981)
For a Few Dollars More (1965)
Forbidden Planet (1956)
Forever Young (1992)
Forget Paris (1995)
Forrest Gump (1994)
Four Weddings and a Funeral (1994)
Fox and the Hound, The (1981)
Frankenstein (1931)
Free Willy (1993)
Freejack (1992)
French Connection, The (1971)
French Kiss (1995)
Frequency (2000)
Friday (1995)
Friday the 13th (1980)
Fried Green Tomatoes (1991)
Fright Night (1985)
Frighteners, The (1996)
From Dusk Till Dawn (1996)
From Here to Eternity (1953)
From Russia with Love (1963)
Fugitive, The (1993)
Full Metal Jacket (1987)
Full Monty, The (1997)
G.I. Jane (1997)
Galaxy Quest (1999)
Game, The (1997)
Gandhi (1982)
Gattaca (1997)
General's Daughter, The (1999)
George of the Jungle (1997)
Get Shorty (1995)
Ghost (1990)
Ghost Dog: The Way of the Samurai (1999)
Ghost and the Darkness, The (1996)
Ghost in the Shell (Kokaku kidotai) (1995)
Ghostbusters (1984)
Ghostbusters II (1989)
Girl, Interrupted (1999)
Gladiator (2000)
Glengarry Glen Ross (1992)
Glory (1989)
Go (1999)
Godfather, The (1972)
Godfather: Part II, The (1974)
Godfather: Part III, The (1990)
Gods Must Be Crazy, The (1980)
Gods and Monsters (1998)
Godzilla (1998)
Godzilla (Gojira) (1954)
Gold Rush, The (1925)
Golden Child, The (1986)
GoldenEye (1995)
Goldfinger (1964)
Gone in 60 Seconds (2000)
Gone with the Wind (1939)
Good Morning, Vietnam (1987)
Good Will Hunting (1997)
Good, The Bad and The Ugly, The (1966)
GoodFellas (1990)
Goodbye Girl, The (1977)
Goonies, The (1985)
Graduate, The (1967)
Grand Canyon (1991)
Grand Day Out, A (1992)
Grapes of Wrath, The (1940)
Grease (1978)
Grease 2 (1982)
Great Escape, The (1963)
Great Expectations (1998)
Great Muppet Caper, The (1981)
Green Mile, The (1999)
Gremlins (1984)
Gremlins 2: The New Batch (1990)
Grifters, The (1990)
Grosse Pointe Blank (1997)
Groundhog Day (1993)
Grumpier Old Men (1995)
Grumpy Old Men (1993)
Guess Who's Coming to Dinner (1967)
Guns of Navarone, The (1961)
Guys and Dolls (1955)
Hackers (1995)
Hairspray (1988)
Halloween (1978)
Hamlet (1990)
Hamlet (1996)
Hand That Rocks the Cradle, The (1992)
Happiness (1998)
Happy Gilmore (1996)
Hard Day's Night, A (1964)
Hard-Boiled (Lashou shentan) (1992)
Harold and Maude (1971)
Harry and the Hendersons (1987)
Harvey (1950)
Haunting, The (1999)
Heartbreak Ridge (1986)
Heat (1995)
Heathers (1989)
Heaven Can Wait (1978)
Heavenly Creatures (1994)
Heavy Metal (1981)
Hellraiser (1987)
Help! (1965)
Henry V (1989)
Hercules (1997)
Hidden, The (1987)
High Fidelity (2000)
High Noon (1952)
High Plains Drifter (1972)
Highlander (1986)
His Girl Friday (1940)
History of the World: Part I (1981)
Holiday Inn (1942)
Hollow Man (2000)
Home Alone (1990)
Home Alone 2: Lost in New York (1992)
Honey, I Blew Up the Kid (1992)
Honey, I Shrunk the Kids (1989)
Honeymoon in Vegas (1992)
Hook (1991)
Hoop Dreams (1994)
Hoosiers (1986)
Hope Floats (1998)
Hot Shots! Part Deux (1993)
House on Haunted Hill, The (1999)
Howard the Duck (1986)
Howards End (1992)
Hud (1963)
Hudsucker Proxy, The (1994)
Hunchback of Notre Dame, The (1996)
Hunt for Red October, The (1990)
Hurricane, The (1999)
Hustler, The (1961)
I Know What You Did Last Summer (1997)
I Still Know What You Did Last Summer (1998)
I.Q. (1994)
Ice Storm, The (1997)
Ideal Husband, An (1999)
Immortal Beloved (1994)
In & Out (1997)
In the Company of Men (1997)
In the Heat of the Night (1967)
In the Line of Fire (1993)
In the Name of the Father (1993)
Independence Day (ID4) (1996)
Indian in the Cupboard, The (1995)
Indiana Jones and the Last Crusade (1989)
Indiana Jones and the Temple of Doom (1984)
Inherit the Wind (1960)
Insider, The (1999)
Inspector Gadget (1999)
Instinct (1999)
Interview with the Vampire (1994)
Invasion of the Body Snatchers (1956)
Iron Eagle (1986)
Iron Giant, The (1999)
Island of Dr. Moreau, The (1996)
It Could Happen to You (1994)
It Happened One Night (1934)
It's a Wonderful Life (1946)
JFK (1991)
Jackal, The (1997)
Jackie Brown (1997)
Jackie Chan's First Strike (1996)
Jacob's Ladder (1990)
James and the Giant Peach (1996)
Jaws (1975)
Jaws 2 (1978)
Jerk, The (1979)
Jerry Maguire (1996)
Jewel of the Nile, The (1985)
Johnny Mnemonic (1995)
Joy Luck Club, The (1993)
Judge Dredd (1995)
Jumanji (1995)
Jumpin' Jack Flash (1986)
Jungle Book, The (1967)
Jurassic Park (1993)
Kalifornia (1993)
Karate Kid III, The (1989)
Karate Kid, Part II, The (1986)
Karate Kid, The (1984)
Keeping the Faith (2000)
Kelly's Heroes (1970)
Kentucky Fried Movie, The (1977)
Key Largo (1948)
Kids in the Hall: Brain Candy (1996)
Killing Fields, The (1984)
King Kong (1933)
King Kong (1976)
King and I, The (1956)
Kingpin (1996)
Kiss the Girls (1997)
Klute (1971)
Kramer Vs. Kramer (1979)
L.A. Confidential (1997)
L.A. Story (1991)
Labyrinth (1986)
Lady and the Tramp (1955)
Ladyhawke (1985)
Lake Placid (1999)
Last Action Hero (1993)
Last Emperor, The (1987)
Last Man Standing (1996)
Last Picture Show, The (1971)
Last Temptation of Christ, The (1988)
Last of the Mohicans, The (1992)
Laura (1944)
Lawnmower Man, The (1992)
Lawrence of Arabia (1962)
League of Their Own, A (1992)
Leaving Las Vegas (1995)
Legend (1985)
Legends of the Fall (1994)
Lethal Weapon (1987)
Lethal Weapon 2 (1989)
Lethal Weapon 3 (1992)
Lethal Weapon 4 (1998)
Liar Liar (1997)
Licence to Kill (1989)
Life Is Beautiful (La Vita � bella) (1997)
Like Water for Chocolate (Como agua para chocolate) (1992)
Limey, The (1999)
Lion King, The (1994)
Little Big Man (1970)
Little Mermaid, The (1989)
Little Shop of Horrors (1986)
Little Shop of Horrors, The (1960)
Little Voice (1998)
Little Women (1994)
Live and Let Die (1973)
Loaded Weapon 1 (1993)
Local Hero (1983)
Lock, Stock & Two Smoking Barrels (1998)
Logan's Run (1976)
Lone Star (1996)
Long Kiss Goodnight, The (1996)
Longest Day, The (1962)
Lord of the Flies (1963)
Lord of the Rings, The (1978)
Lost World: Jurassic Park, The (1997)
Lost in Space (1998)
M (1931)
M*A*S*H (1970)
Mad Max (1979)
Mad Max 2 (a.k.a. The Road Warrior) (1981)
Mad Max Beyond Thunderdome (1985)
Madness of King George, The (1994)
Magnolia (1999)
Malcolm X (1992)
Mallrats (1995)
Maltese Falcon, The (1941)
Man Who Knew Too Little, The (1997)
Man Who Would Be King, The (1975)
Man in the Iron Mask, The (1998)
Man on the Moon (1999)
Man with Two Brains, The (1983)
Man with the Golden Gun, The (1974)
Manchurian Candidate, The (1962)
Manhattan (1979)
Manhattan Murder Mystery (1993)
Marathon Man (1976)
Mariachi, El (1992)
Married to the Mob (1988)
Mars Attacks! (1996)
Mary Poppins (1964)
Mask of Zorro, The (1998)
Mask, The (1994)
Matrix, The (1999)
Maverick (1994)
Me, Myself and Irene (2000)
Meatballs (1979)
Medicine Man (1992)
Meet Joe Black (1998)
Meet the Parents (2000)
Men in Black (1997)
Menace II Society (1993)
Mercury Rising (1998)
Messenger: The Story of Joan of Arc, The (1999)
Metropolis (1926)
Michael (1996)
Mickey Blue Eyes (1999)
Midnight Cowboy (1969)
Midnight Express (1978)
Midnight Run (1988)
Midnight in the Garden of Good and Evil (1997)
Midsummer Night's Dream, A (1999)
Mighty Aphrodite (1995)
Mighty Ducks, The (1992)
Miller's Crossing (1990)
Mimic (1997)
Miracle on 34th Street (1947)
Misery (1990)
Mission to Mars (2000)
Mission: Impossible (1996)
Mission: Impossible 2 (2000)
Mister Roberts (1955)
Mis閞ables, Les (1998)
Modern Times (1936)
Money Pit, The (1986)
Monty Python and the Holy Grail (1974)
Monty Python's Life of Brian (1979)
Moonraker (1979)
Moonstruck (1987)
Mortal Kombat (1995)
Mosquito Coast, The (1986)
Mr. Holland's Opus (1995)
Mr. Mom (1983)
Mr. Smith Goes to Washington (1939)
Mrs. Brown (Her Majesty, Mrs. Brown) (1997)
Mrs. Doubtfire (1993)
Much Ado About Nothing (1993)
Mulan (1998)
Mulholland Falls (1996)
Mumford (1999)
Mummy, The (1999)
Muppet Christmas Carol, The (1992)
Muppet Movie, The (1979)
Muppet Treasure Island (1996)
Muppets Take Manhattan, The (1984)
Murder at 1600 (1997)
Muriel's Wedding (1994)
Murphy's Romance (1985)
My Best Friend's Wedding (1997)
My Cousin Vinny (1992)
My Dog Skip (1999)
My Fair Lady (1964)
My Favorite Year (1982)
My Left Foot (1989)
My Life as a Dog (Mitt liv som hund) (1985)
Mystery Men (1999)
Mystery Science Theater 3000: The Movie (1996)
Mystery, Alaska (1999)
Naked Gun 2 1/2: The Smell of Fear, The (1991)
Naked Gun 33 1/3: The Final Insult (1994)
Naked Gun: From the Files of Police Squad!, The (1988)
Name of the Rose, The (1986)
Nashville (1975)
Natural Born Killers (1994)
Natural, The (1984)
Negotiator, The (1998)
Net, The (1995)
Network (1976)
Never Been Kissed (1999)
NeverEnding Story, The (1984)
Night Shift (1982)
Night of the Comet (1984)
Night of the Living Dead (1968)
Nightmare Before Christmas, The (1993)
Nightmare on Elm Street 3: Dream Warriors, A (1987)
Nightmare on Elm Street Part 2: Freddy's Revenge, A (1985)
Nightmare on Elm Street, A (1984)
Nikita (La Femme Nikita) (1990)
Nineteen Eighty-Four (1984)
Ninth Gate, The (2000)
No Way Out (1987)
North by Northwest (1959)
Notorious (1946)
Notting Hill (1999)
Nurse Betty (2000)
Nutty Professor, The (1996)
October Sky (1999)
Odd Couple, The (1968)
Of Mice and Men (1992)
Office Space (1999)
Old Yeller (1957)
Omen, The (1976)
On Golden Pond (1981)
On Her Majesty's Secret Service (1969)
On the Waterfront (1954)
One Flew Over the Cuckoo's Nest (1975)
Opposite of Sex, The (1998)
Ordinary People (1980)
Out of Africa (1985)
Out of Sight (1998)
Outbreak (1995)
Outlaw Josey Wales, The (1976)
Outsiders, The (1983)
Pacific Heights (1990)
Pale Rider (1985)
Paper Chase, The (1973)
Papillon (1973)
Parent Trap, The (1961)
Parent Trap, The (1998)
Parenthood (1989)
Patch Adams (1998)
Patriot Games (1992)
Patriot, The (2000)
Patton (1970)
Payback (1999)
Peacemaker, The (1997)
Pecker (1998)
Pee-wee's Big Adventure (1985)
Peggy Sue Got Married (1986)
Pelican Brief, The (1993)
People vs. Larry Flynt, The (1996)
Perfect Murder, A (1998)
Perfect Storm, The (2000)
Perfect World, A (1993)
Pet Sematary (1989)
Pete's Dragon (1977)
Peter Pan (1953)
Phantasm (1979)
Phenomenon (1996)
Philadelphia (1993)
Philadelphia Story, The (1940)
Pi (1998)
Piano, The (1993)
Pink Floyd - The Wall (1982)
Pinocchio (1940)
Pitch Black (2000)
Planet of the Apes (1968)
Platoon (1986)
Player, The (1992)
Pleasantville (1998)
Pocahontas (1995)
Police Academy (1984)

In [43]:
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

gender                                                     F         M
title
'burbs, The (1989)                                  2.793478  2.962085
10 Things I Hate About You (1999)                   3.646552  3.311966
101 Dalmatians (1961)                               3.791444  3.500000
101 Dalmatians (1996)                               3.240000  2.911215
12 Angry Men (1957)                                 4.184397  4.328421
13th Warrior, The (1999)                            3.112000  3.168000
2 Days in the Valley (1996)                         3.488889  3.244813
20,000 Leagues Under the Sea (1954)                 3.670103  3.709205
2001: A Space Odyssey (1968)                        3.825581  4.129738
2010 (1984)                                         3.446809  3.413712
28 Days (2000)                                      3.209424  2.977707
39 Steps, The (1935)                                3.965517  4.107692
54 (1998)                                           2.701754  2.782178
7th Voyage of Sinbad, The (1958)                    3.409091  3.658879
8MM (1999)                                          2.906250  2.850962
About Last Night... (1986)                          3.188679  3.140909
Absent Minded Professor, The (1961)                 3.469388  3.446809
Absolute Power (1997)                               3.469136  3.327759
Abyss, The (1989)                                   3.659236  3.689507
Ace Ventura: Pet Detective (1994)                   3.000000  3.197917
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Addams Family Values (1993)                         3.000000  2.878531
Addams Family, The (1991)                           3.186170  3.163498
Adventures in Babysitting (1987)                    3.455782  3.208122
Adventures of Buckaroo Bonzai Across the 8th Di...  3.308511  3.402321
Adventures of Priscilla, Queen of the Desert, T...  3.989071  3.688811
Adventures of Robin Hood, The (1938)                4.166667  3.918367
African Queen, The (1951)                           4.324232  4.223822
Age of Innocence, The (1993)                        3.827068  3.339506
Agnes of God (1985)                                 3.534884  3.244898
...                                                      ...       ...
White Men Can't Jump (1992)                         3.028777  3.231061
Who Framed Roger Rabbit? (1988)                     3.569378  3.713251
Who's Afraid of Virginia Woolf? (1966)              4.029703  4.096939
Whole Nine Yards, The (2000)                        3.296552  3.404814
Wild Bunch, The (1969)                              3.636364  4.128099
Wild Things (1998)                                  3.392000  3.459082
Wild Wild West (1999)                               2.275449  2.131973
William Shakespeare's Romeo and Juliet (1996)       3.532609  3.318644
Willow (1988)                                       3.658683  3.453543
Willy Wonka and the Chocolate Factory (1971)        4.063953  3.789474
Witness (1985)                                      4.115854  3.941504
Wizard of Oz, The (1939)                            4.355030  4.203138
Wolf (1994)                                         3.074074  2.899083
Women on the Verge of a Nervous Breakdown (1988)    3.934307  3.865741
Wonder Boys (2000)                                  4.043796  3.913649
Working Girl (1988)                                 3.606742  3.312500
World Is Not Enough, The (1999)                     3.337500  3.388889
Wrong Trousers, The (1993)                          4.588235  4.478261
Wyatt Earp (1994)                                   3.147059  3.283898
X-Files: Fight the Future, The (1998)               3.489474  3.493797
X-Men (2000)                                        3.682310  3.851702
Year of Living Dangerously (1982)                   3.951220  3.869403
Yellow Submarine (1968)                             3.714286  3.689286
You've Got Mail (1998)                              3.542424  3.275591
Young Frankenstein (1974)                           4.289963  4.239177
Young Guns (1988)                                   3.371795  3.425620
Young Guns II (1990)                                2.934783  2.904025
Young Sherlock Holmes (1985)                        3.514706  3.363344
Zero Effect (1998)                                  3.864407  3.723140
eXistenZ (1999)                                     3.098592  3.289086

[1216 rows x 2 columns]

In [45]:
top_female_ratings = mean_ratings.sort_index(by = 'F',ascending=False)

top_female_ratings[:10]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [47]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

mean_ratings[:5]

sorted_by_diff = mean_ratings.sort_index(by = 'diff')

sorted_by_diff[:5]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """

gender                            F         M      diff
title
Dirty Dancing (1987)       3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)  3.254717  2.578358 -0.676359
Grease (1978)              3.975265  3.367041 -0.608224
Little Women (1994)        3.870588  3.321739 -0.548849
Steel Magnolias (1989)     3.901734  3.365957 -0.535777

In [49]:
mean_ratings[:5]

gender                                    F         M      diff
title
'burbs, The (1989)                 2.793478  2.962085  0.168607
10 Things I Hate About You (1999)  3.646552  3.311966 -0.334586
101 Dalmatians (1961)              3.791444  3.500000 -0.291444
101 Dalmatians (1996)              3.240000  2.911215 -0.328785
12 Angry Men (1957)                4.184397  4.328421  0.144024

In [53]:
data.groupby('gender').size()

gender
F    246440
M    753769
dtype: int64

In [57]:
data.groupby('gender').rating.sum()

gender
F     892203
M    2690110
Name: rating, dtype: int64

In [54]:
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [4]:
import pandas as pd

unames = ['user_id','gender','age','occupation','zip']

users = pd.read_table('C:/Users/meridian/Desktop/ml-1m/users.dat',engine ='python',sep ='::',header=None,names = unames)

In [9]:
users

      user_id gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
5           6      F   50           9  55117
6           7      M   35           1  06810
7           8      M   25          12  11413
8           9      M   25          17  61614
9          10      F   35           1  95370
10         11      F   25           1  04093
11         12      M   25          12  32793
12         13      M   45           1  93304
13         14      M   35           0  60126
14         15      M   25           7  22903
15         16      F   35           0  20670
16         17      M   50           1  95350
17         18      F   18           3  95825
18         19      M    1          10  48073
19         20      M   25          14  55113
20         21      M   18          16  99353
21         22      M   18          15  53706
22         23      M   35           0  90049
23         24      F   25           7  10023
24         25      M   18           4  01609
25         26      M   25           7  23112
26         27      M   25          11  19130
27         28      F   25           1  14607
28         29      M   35           7  33407
29         30      F   35           7  19143
...       ...    ...  ...         ...    ...
6010     6011      M   35          15  80538
6011     6012      M   35          15  02871
6012     6013      F   25          20  32301
6013     6014      M   45           1  80634
6014     6015      F   25           9  80013
6015     6016      M   45           1  37209
6016     6017      F   35           7  21117
6017     6018      M   35           1  48906
6018     6019      M   25           0  10024
6019     6020      M   50          16  10023
6020     6021      M   25          12  08876
6021     6022      M   25          17  57006
6022     6023      M   25           0  43213
6023     6024      M   25          12  53705
6024     6025      F   25           1  32607
6025     6026      M   35           6  11210
6026     6027      M   18           4  20742
6027     6028      M   18           4  94133
6028     6029      F   25           1  23185
6029     6030      M   25          17  32618
6030     6031      F   18           0  45123
6031     6032      M   45           7  55108
6032     6033      M   50          13  78232
6033     6034      M   25          14  94117
6034     6035      F   25           1  78734
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]

In [6]:
users.groupby('gender').size()

gender
F    1709
M    4331
dtype: int64

In [10]:
users.groupby('gender').user_id.sum()

gender
F     5328289
M    12915531
Name: user_id, dtype: int64

In [14]:
users['id'] = 1

In [18]:
users.groupby('gender').id.sum()

gender
F    1709
M    4331
Name: id, dtype: int64

In [21]:
clear

In [2]:
import numpy as np

xnums = np.arange(4)
ynums = np.arange(5)

xnums

array([0, 1, 2, 3])

In [3]:
ynums

array([0, 1, 2, 3, 4])

In [4]:
data_list = np.meshgrid(xnums,ynums)

data_list

[array([[0, 1, 2, 3],
        [0, 1, 2, 3],
        [0, 1, 2, 3],
        [0, 1, 2, 3],
        [0, 1, 2, 3]]), array([[0, 0, 0, 0],
        [1, 1, 1, 1],
        [2, 2, 2, 2],
        [3, 3, 3, 3],
        [4, 4, 4, 4]])]

In [21]:
import random
a = random.randint(0,1)
a

1

In [32]:
step = 1 if random.randint(0,1) else -1
step

-1

In [57]:
if 1:
    print('生成了0')

生成了0